/* from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */

.main {
    --hw: 70px;
    --cfh: calc(var(--hh) - 0px);
    --hh: 61px;
    --w2: calc(var(--hh) - 4px);
}

.container {
    font-size: 0; /* disable white space between inline block element */
    background: url(images/mapb.jpg) no-repeat center;
    background-size: cover;
    display: block;
    width: 1024px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 100px;
}

.container > div {
    height: calc(var(--hh));
    width: calc(var(--hw));
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    font-size:10pt;
    text-align: center;
    align-items: center;
    foreground-color: #000000;
    clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    position: absolute;
/*    background-color: rgba(255, 22, 255, 0.2); */
}


.container > div.selected {
    background-color: rgba(22, 255, 22, 0.1);
}


.container > div > div.city {
    height: var(--hh);
    width: var(--hw);
    background-size: 100% 1300%;
}

.city {
    background-size: 100% 1300%;
}

.city_msp  {
    background: url('images/cities.png') 0% 0%;
}
.city_m    {
    background: url('images/cities.png') 0% -100%;
}
.city_back {
    background: url('images/cities.png') 0% -200%;
}
.city_p    {
    background: url('images/cities.png') 0% -300%;
}
.city_s    {
    background: url('images/cities.png') 0% -400%;
}
.city_mp   {
    background: url('images/cities.png') 0% -500%;
}
.city_ms   {
    background: url('images/cities.png') 0% -600%;
}
.city_sp   {
    background: url('images/cities.png') 0% -700%;
}
.farm_5     {
    background: url('images/cities.png') 0% -800%;
}
.farm_6     {
    background: url('images/cities.png') 0% -900%;
}
.farm_7     {
    background: url('images/cities.png') 0% -1000%;
}
.farm_X     {
    background: url('images/cities.png') 0% -1100%;
}
.ziggurat   {
    background: url('images/cities.png') 0% -1200%;
}

.container > div > div.piece {
    width: calc(var(--hh) - 4px);
    height: calc(var(--hh) - 4px);
    margin-top: 3px;
    margin-left: 7px;
    background-image: url(images/pieces.png);
    background-size: 400% 500%;
}

.white .blank    {
    background-position: 0% 0;
}
.wood .blank    {
    background-position: 100% 0;
}
.grey .blank    {
    background-position: 200% 0;
}
.blue .blank    {
    background-position: 300% 0;
}
.white .farmer    {
    background-position: 0% -100%;
}
.wood .farmer   {
    background-position: 100% -100%;
}
.grey .farmer {
    background-position: 200% -100%;
}
.blue .farmer {
    background-position: 300% -100%;
}
.white .merchant {
    background-position: 0% -200%;
}
.wood .merchant {
    background-position: 100% -200%;
}
.grey .merchant {
    background-position: 200% -200%;
}
.blue .merchant {
    background-position: 300% -200%;
}
.white .servant  {
    background-position: 0% -300%;
}
.wood .servant  {
    background-position: 100% -300%;
}
.grey .servant  {
    background-position: 200% -300%;
}
.blue .servant  {
    background-position: 300% -300%;
}
.white .priest   {
    background-position: 0% -400%;
}
.wood .priest   {
    background-position: 100% -400%;
}
.grey .priest   {
    background-position: 200% -400%;
}
.blue .priest   {
    background-position: 300% -400%;
}


/*
 Styles for the hand and "rack".
*/

.hand {
    display: inline-block;
    width: auto;
    margin: 5px;
    background-color: transparent;
    text-align: center;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: inset;
    padding: 4px;
}

.hand > div {
    clip-path: circle();
    display: inline-block;
    padding: 3px;
    margin-top: 4px;
    margin-left: 8px;
}

.hand > div > div {
    width: 57px;
    height: 57px;
    /* shared with .piece */
    background-image: url(images/pieces.png);
    background-size: 400% 500%;
}

.handlabel {
    display: inline;
    vertical-align: center;
    font-size: 20pt;
}

.possibleMove {
    background-color: white;
    opacity: 0.2; 
    cursor: pointer;  
}

.unplayable {
    background-color: white;
    opacity: 0.3;
}

.selected {
    background-color: black;
    opacity: 0.8;
}
