/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * babylonia implementation : © Jay Sachs <vagabond@covariant.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * babylonia.css
 *
 * babylonia stylesheet
 *
 */

body.bblbg1 {
    background-image: url(img/background-dark.jpg);
}

body.bblbg2 {
    background: linear-gradient(190deg, #a7855d, #b2afa4);
}

body.bblbg3 {
    background: url(img/zback.png) 50% 30% / 150% 150% no-repeat;
}

body.bblbg4 {
    background: conic-gradient(#6a6, #a7855d, #6a6, #b2afa4, #6a6);
}

/* inspired from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */
body {
    background-image: url(img/bback.jpg);
    background-repeat: repeat;
    background-size: 100% auto;

    --bbl-map-file: url(img/map.jpg);
    --bbl-sprites-file: url(img/spritesv4.png);

    /* current map dimensions: 3385 × 2709  */
    --bbl-map-aspect-ratio: calc(3385 / 2709);
    /*
      define these all here so they're available even for "floating" elements.
     */
    --bbl-board-margin: calc(var(--bbl-board-width) * 0.01);
    --bbl-board-border: calc(var(--bbl-board-width) * 0.007);

    /* 2/sqrt(3) */
    --bbl-hex-ratio: 1.155;

    --bbl-board-width: 100vw;

    --bbl-board-height: calc(var(--bbl-board-width) / var(--bbl-map-aspect-ratio));
    --bbl-hand-bg: url(../../../img/layout/back-main.jpg);

    /*
      the denominator here works for height. but somehow width gets
      slightly off.
      maybe compute board height/width based on hex size instead?
    */
    --bbl-hex-height: calc(var(--bbl-board-height)/13);
    --bbl-hex-width: calc(var(--bbl-hex-ratio) * var(--bbl-hex-height));

    --bbl-zcard-aspect-ratio: calc(327/526);
    --bbl-zcard-height: calc(var(--bbl-board-height) / 8);
}

#bbl_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(var(--bbl-board-height) + 2 * var(--bbl-board-margin) + 2 * var(--bbl-board-border));
}

/*
 Board container is needed since hex positions are described in terms
 of %ages of height/width, and we need the container to stretch
 sometimes without changing the size of the board. Hard to do if the
 board itself is the flex element, we want it to grow "as much as
 possible" but no more.
*/
#bbl_board_container {
    box-sizing: border-box;
    border: calc(var(--bbl-board-border)) solid #ffffffbb;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 0;
    position: relative;
}


#bbl_board {
    font-size: 0;
    background: var(--bbl-map-file) no-repeat center;
    background-size: cover;
    width: calc(var(--bbl-board-width));
    height: calc(var(--bbl-board-height));
    position: relative;
}

#bbl_main.bbl_is_spectator #bbl_hand {
    display: none;
}

#bbl_hand_container {
    flex-grow: 0;
    margin: var(--bbl-board-margin);
}

#bbl_hand {
    display: flex;
    flex-direction:column;
    row-gap: calc(var(--bbl-hex-height) * 0.15);
    border-radius: calc(var(--bbl-hex-width));
    padding: calc(0.15 * var(--bbl-hex-width));
    width: calc(var(--bbl-hex-width));
    background: var(--bbl-hand-bg);
}

#bbl_rightpadding {
    display: flex;
    flex-grow: 1;
}

#bbl_main.bbl_altflow {
    flex-direction: column-reverse;
    height: auto;
}

#bbl_main.bbl_altflow #bbl_hand {
    flex-direction: row;
    padding: 8px;
    column-gap: calc(var(--bbl-hex-width) * 0.10);
    height: calc(var(--bbl-hex-height));
    width: auto;
}

/* Board contents */

#bbl_board>div {
    height: calc(var(--bbl-hex-height));
    aspect-ratio: calc(var(--bbl-hex-ratio));
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    font-size: 10pt;
    text-align: center;
    align-items: center;
    color: #000000;
    position: absolute;
}

#bbl_board>div.bbl_playable::after {
    cursor: pointer;
}

#bbl_board>div.bbl_playable:hover::after {
    position: absolute;
    left: calc((var(--bbl-hex-width) - var(--bbl-hex-height))*2);
    top: calc(0.25*var(--bbl-hex-height));
    content: '';
    width: calc(0.5*var(--bbl-hex-height));
    height: calc(0.5*var(--bbl-hex-height));
    line-height: calc(0.5*var(--bbl-hex-height));
    box-shadow: 0px 0px calc(var(--bbl-hex-height)*0.10) calc(var(--bbl-hex-height)*0.10) #f3f3b0aa inset;
    border-radius: calc(var(--bbl-hex-height)/2);
}

#bbl_board>div.bbl_selected::after {
    content: '';
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(var(--bbl-hex-height));
    aspect-ratio: calc(var(--bbl-hex-ratio));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='173' ><polygon points='8,86 48,8 148,8 190,86 148,164 48,164' fill='none' stroke='rgb(68,238,68)' stroke-width='18' /></svg>");
    background-size: contain;
}

/* does this need the same ::after treatment as bbl_selected? */
#bbl_board>div.bbl_in_network::after,
#bbl_board>div.bbl_selectable::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='173' ><polygon points='4,86 48,4 148,4 194,86 148,168 48,168' fill='none' stroke='yellow' stroke-width='10' /></svg>");
    background-size: contain;
    cursor: pointer;
    height: calc(var(--bbl-hex-height));
    aspect-ratio: calc(var(--bbl-hex-ratio));
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

#pagemaintitletext span[bbl_piece] {
    vertical-align: middle;
    /* this is copied from #pagemaintitletext ... that seems suboptimal. */
    height: 32px;
}

#bbl_board [bbl_piece] {
    position: absolute;
    left: 0;
    top: 0;
}

[bbl_piece] {
    aspect-ratio: calc(var(--bbl-hex-ratio));
    background-size: 100%;
    /*
    background-image: var(--bbl-sprites-file);
    background-size: 700% 700%; */
    /*
    filter:
        drop-shadow(2px -2px #573404)
    ;
*/
    /* so picked up for floating (animated) pieces */
    display: inline-block;
    height: calc(var(--bbl-hex-height));
}

/*
 * Cities and fields sprites
 */
[bbl_piece="city_m"] {
    /*
    background-position: -100% 0%;
   */
    background-image: url(img/City-T-2.png);

}

[bbl_piece="city_p"] {
    /* background-position: 0% 0%; */
    background-image: url(img/City-T-1.png);
}

[bbl_piece="city_s"] {
    /* background-position: -200% 0%; */
    background-image: url(img/City-T-3.png);
}

[bbl_piece="city_mp"] {
    /* background-position: -300% 0%; */
    background-image: url(img/City-T-4.png);
}

[bbl_piece="city_ms"] {
    /*background-position: -500% 0%; */
    background-image: url(img/City-T-6.png);
}

[bbl_piece="city_sp"] {
    /* background-position: -400% 0%; */
    background-image: url(img/City-T-5.png);
}

[bbl_piece="city_msp"] {
    /* background-position: -600% 0%; */
    background-image: url(img/City-T-7.png);
}

[bbl_piece="field_5"] {
    /* background-position: 0% -100%; */
    background-image: url(img/Crop-T-5.png);
}

[bbl_piece="field_6"] {
    /*background-position: -100% -100%; */
    background-image: url(img/Crop-T-6.png);
}

[bbl_piece="field_7"] {
    /* background-position: -200% -100%; */
    background-image: url(img/Crop-T-7.png);
}

[bbl_piece="field_x"] {
    /* background-position: -300% -100%; */
    background-image: url(img/Crop-T-c.png);
}

[bbl_piece="ziggurat"].bbl_scored {
    /* background-position: -400% -100%; */
    background-image: url(img/Ziggurat-T-1.png);
}

[bbl_piece="ziggurat"] {
    /* background-position: -600% -100%; */
    background-image: url(img/Ziggurat-T-3.png);
}

/*
 * Player piece sprites
 */
[bbl_piece="hidden_1"] {
    /* background-position: -400% -200%; */
    background-image: url(img/P-1-hidden.png);
}

[bbl_piece="hidden_2"] {
    /* background-position: -400% -300%;*/
    background-image: url(img/P-2-hidden.png);
}

[bbl_piece="hidden_3"] {
    /* background-position: -400% -600%;*/
    background-image: url(img/P-3-hidden.png);
}

[bbl_piece="hidden_4"] {
    /* background-position: -400% -500%; */
    background-image: url(img/P-4-hidden.png);
}

[bbl_piece="farmer_1"] {
    /* background-position: -300% -200%; */
    background-image: url(img/P-1-farmer.png);
}

[bbl_piece="farmer_2"] {
/*    background-position: -300% -300%; */
    background-image: url(img/P-2-farmer.png);
}

[bbl_piece="farmer_3"] {
/*    background-position: -300% -600%; */
    background-image: url(img/P-3-farmer.png);
}

[bbl_piece="farmer_4"] {
/*     background-position: -300% -500%;*/
    background-image: url(img/P-4-farmer.png);
}

[bbl_piece="merchant_1"] {
    /*background-position: -200% -200%; */
    background-image: url(img/P-1-merchant.png);
}

[bbl_piece="merchant_2"] {
    /*background-position: -200% -300%; */
    background-image: url(img/P-2-merchant.png);
}

[bbl_piece="merchant_3"] {
    /* background-position: -200% -600%; */
    background-image: url(img/P-3-merchant.png);
}

[bbl_piece="merchant_4"] {
    /* background-position: -200% -500%; */
    background-image: url(img/P-4-merchant.png);
}

[bbl_piece="servant_1"] {
    /*background-position: -0% -200%;*/
    background-image: url(img/P-1-servant.png);
}

[bbl_piece="servant_2"] {
    /*background-position: -0% -300%;*/
    background-image: url(img/P-2-servant.png);
}

[bbl_piece="servant_3"] {
    /* background-position: -0% -600%; */
    background-image: url(img/P-3-servant.png);
}

[bbl_piece="servant_4"] {
    /* background-position: -0% -500%;*/
    background-image: url(img/P-4-servant.png);
}

[bbl_piece="priest_1"] {
    /*background-position: -100% -200%; */
    background-image: url(img/P-1-priest.png);
}

[bbl_piece="priest_2"] {
    /*background-position: -100% -300%;*/
    background-image: url(img/P-2-priest.png);
}

[bbl_piece="priest_3"] {
    /*background-position: -100% -600%;*/
    background-image: url(img/P-3-priest.png);
}

[bbl_piece="priest_4"] {
    /*background-position: -100% -500%; */
    background-image: url(img/P-4-priest.png);
}

/*
 * Ziggurat card sprites
 */
/* button.action-button[bbl_ztype], */
[bbl_ztype] {
    /*
    background-size: 900% 100%;
    background-image: url(img/zcards.png);
   */
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--bbl-zcard-height);
    width: auto;
    aspect-ratio: var(--bbl-zcard-aspect-ratio);
}

[bbl_ztype=""] {
    background-image: none;
}

[bbl_zused="true"]::after {
    width: 100%;
    height: 100%;
    display: inline-block;
    content: '';
    background-image: repeating-linear-gradient(45deg, rgb(127 127 127 / 90%), rgb(127 127 127 / 80%) 2px, transparent 2px, transparent 4px);
}

[bbl_ztype="zc_10pts"] {
    /*background-position: 0% 0%;*/
    background-image: url(img/zcard-1.png);
}

[bbl_ztype="zc_xturn"] {
    /*background-position: -100% 0%;*/
    background-image: url(img/zcard-2.png);
}

[bbl_ztype="zc_hand7"] {
    /*background-position: -200% 0%;*/
    background-image: url(img/zcard-3.png);
}

[bbl_ztype="zc_3nobles"] {
    /*background-position: -300% 0%;*/
    background-image: url(img/zcard-4.png);
}

[bbl_ztype="zc_3farmers"] {
    /*background-position: -400% 0%;*/
    background-image: url(img/zcard-5.png);
}

[bbl_ztype="zc_fields"] {
    /*background-position: -500% 0%;*/
    background-image: url(img/zcard-6.png);
}

[bbl_ztype="zc_citypts"] {
    /*background-position: -600% 0%;*/
    background-image: url(img/zcard-7.png);
}

[bbl_ztype="zc_land"] {
    /*background-position: -700% 0%;*/
    background-image: url(img/zcard-8.png);
}

[bbl_ztype="zc_river"] {
    /*    background-position: -800% 0%;*/
    background-image: url(img/zcard-9.png);
}


/*
 Styles for the hand.
*/

#bbl_hand>div {
    position: relative; /* needed for highlight */
    aspect-ratio: var(--bbl-hex-ratio);
    height: calc(1.00*var(--bbl-hex-height));
    border-style: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='173' ><circle cx='101' cy='87' r='85' stroke='none' fill='black' fill-opacity='0.125' stroke-width='0'/></svg>");
    background-size: contain;
    background-position: center;
}

.bbl_playable {
    cursor: pointer;
}

.bbl_unplayable {
    cursor: not-allowed;
    opacity: 0.5;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='173' ><circle cx='101' cy='87' r='85' stroke='none' fill='black' fill-opacity='0.125' stroke-width='0'/></svg>");
    background-size: contain;
    background-position: center;
}

#bbl_hand>div.bbl_selected>div::before {
    position: absolute;
    left: calc((var(--bbl-hex-width) - var(--bbl-hex-height)) / 2);
    top: 0;
    content: '';
    width: calc(var(--bbl-hex-height));
    height: calc(var(--bbl-hex-height));
    border-radius: calc(var(--bbl-hex-height)/2);
    box-shadow: 0px 0px calc(var(--bbl-hex-height)*0.10) calc(var(--bbl-hex-height)*0.10) #ffffee;
    cursor: pointer;
}

.bbl_unimportant {
    opacity: 0.45;
}

/* available ziggurat cards panel */

#bbl_available_zcards {
    padding-left: 3px;
    padding-right: 3px;
    background-image: url(img/background-dark.jpg);
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr;
}

#bbl_available_zcards.bbl_selecting>div:has(>div[bbl_ztype]) {
    cursor: pointer;
    border-color: #44dd4fcc;
}

#bbl_available_zcards>div {
    display: inline-block;
    border: 0.08vw solid transparent;
    height: var(--bbl-zcard-height);
    width: auto;
    aspect-ratio: var(--bbl-zcard-aspect-ratio);
    /*
    border-style: dashed;
    border-width: 1px;
    border-color: transparent;
*/
}

#bbl_available_zcards.bbl_selecting>div:has(>div.bbl_selected) {
    border-color: yellow;
}

#bbl_available_zcards>div:not(:has(>div)) {
    background-clip: content-box;
    background-color: #ffffff60;
}

/*
 * Player boards
 */

.player-board-game-specific-content {
    --bbl-label-height: 2.4em;
    --bbl-label-width: calc(var(--bbl-hex-ratio) * var(--bbl-label-height));
    padding-top: 7px;
    display: grid;
    grid-template-columns: repeat(3, 1.25fr) 3fr;
}

.player-board-game-specific-content>div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.bbl_pb_hand_label_1,
.bbl_pb_hand_label_2,
.bbl_pb_hand_label_3,
.bbl_pb_hand_label_4 {
    width: calc(var(--bbl-label-width));
    height: calc(var(--bbl-label-height));
    background-size: cover; /* 100% 100%; */
    /*
    background-image: var(--bbl-sprites-file);
    background-size: 700% 700%;
*/
}

.bbl_pb_city_label,
.bbl_pb_pool_label_1,
.bbl_pb_pool_label_2,
.bbl_pb_pool_label_3,
.bbl_pb_pool_label_4,
.bbl_pb_zcard_label {
    width: calc(var(--bbl-label-width));
    height: calc(var(--bbl-label-height));
    background-size: 100%;
    /*
    background-image: var(--bbl-sprites-file);
    background-size: 700% 700%;
*/
}

.bbl_pb_hand_label_1 {
    /*background-position: -400% -200%;*/
    background-image: url(img/P-1-hidden.png);
}

.bbl_pb_hand_label_2 {
    /*background-position: -400% -300%;*/
    background-image: url(img/P-2-hidden.png);
}

.bbl_pb_hand_label_3 {
    /*background-position: -400% -600%; */
    background-image: url(img/P-3-hidden.png);
}

.bbl_pb_hand_label_4 {
    /*background-position: -400% -500%; */
    background-image: url(img/P-4-hidden.png);
}

.bbl_pb_pool_label_1 {
    background-image: url(img/P-1-pool.png);
/*    background-position: -500% -200%; */
}

.bbl_pb_pool_label_2 {
    background-image: url(img/P-2-pool.png);
/*    background-position: -500% -300%; */
}

.bbl_pb_pool_label_3 {
    background-image: url(img/P-3-pool.png);
    /*background-position: -500% -600%;*/
}

.bbl_pb_pool_label_4 {
    background-image: url(img/P-4-pool.png);
    /* background-position: -500% -500%;*/
}

.bbl_pb_city_label {
    background-image: url(img/City-T-0.png);
    /** FIXME */
    /* background-position: 0% 0%; */
}

.bbl_pb_hand,
.bbl_pb_pool,
.bbl_pb_city {
    color: white;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.bbl_pb_hand_label_2, .bbl_pb_pool_label_2,
.bbl_pb_hand_label_4, .bbl_pb_pool_label_4 {
    color: black;
}

div.bbl_pb_zcards {
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(3, 1fr);
    /*
    border: 1px solid #333;
*/
/*    background: #0002; */

    justify-items: center;

    /* TODO, these are hardcoded, may be better way to accomplish  */
    margin-left: 1em;
    row-gap: 6px;
    min-height: 32px;
}

div.bbl_pb_zcards>div {
    height: calc(var(--bbl-label-height));
    border: 1px solid #888;
}

/*
 * rendering log messages
 *   particularly images for pieces
 */

.log [bbl_piece] {
    height: 1.0em;
    width: 1.15em;
    display: inline-block;
    filter: unset;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.log [bbl_ztype] {
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
}

/*
 *  cityscoring animation classes
 */
.bbl_city_scoring {
    -webkit-text-stroke: thin black;
    /* paint-order: stroke fill; */
    color: black;
    font-family: Helvetica;
    font-style: bold;
    font-size: 72;
    /* text-shadow: '-2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000'; */
}


#pagemaintitletext span[bbl_ztype] {
    display: inline-block;
    height: 2.0em;
    vertical-align: middle;
}

#bbl_offboard {
    width: 100%;
}

/* FIXME: only needed for mockup
@font-face {
    font-family: 'ParchmentMf Vqge';
    src: url(fonts/ParchmentMf-Vqge.ttf);
} */

.bbl_zcard_hover {
    width: calc(min(50vw,265px));
    font-size: calc(min(14pt, var(--bbl-hex-height)/2));
    background-color: beige;
    padding: 5px;
    border: 1px solid black;
}

.bbl_zcard_hover div[bbl_ztype] {
    height: calc(min(30vw,265px));
    width: 100%;
    background-position: center;
    margin-bottom: 0.5em;
}

.bbl_zcard_hover .bbl_zcard_description {
    width: 100%;
    border-top: 1px solid;
    margin-top: 0.5em;
    margin: 0.05em;
    padding-top: 0.5em;
}

.bbl_city_scoring_hover {
    font-size: calc(var(--bbl-hex-height)/3);
    background-color: beige;
    padding: 5px;
    border: 1px solid black;
}

#bbl_board_container.bbl_mockup:has( div[bbl_piece^="city_"]:hover) .bbl_city_scoring_hover {
    opacity: 100%;
    transition: all 100ms 500ms allow-discrete;
}

#bbl_board_container.bbl_mockup:not(:has( div[bbl_piece^="city_"]:hover)) .bbl_city_scoring_hover {
    opacity: 0%;
    transition: all 100ms 350ms allow-discrete;
}

.bbl_city_scoring_hover > span {
    display: grid;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.bbl_city_scoring_hover_details {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    color: white;
    font-size: calc(var(--bbl-hex-height)/2);
}

.bbl_city_scoring_hover_details > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--bbl-hex-width);
    height: var(--bbl-hex-height);
}

.bbl_city_scoring_hover_details > div[bbl_piece="hidden_2"],
.bbl_city_scoring_hover_details > div[bbl_piece="hidden_4"] {
    color: black;
}
