/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * babylonia implementation : © Jay Sachs <jay@covariant.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * babylonia.css
 *
 * babylonia stylesheet
 *
 */


/* inspired from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */

#main {
    --hw: 70px;
    --cfh: calc(var(--hh) - 0px);
    --hh: 61px;
    --w2: calc(var(--hh) - 4px);
}

.board-spacer {
    width: 1024px;
    height: 768px;
}

.board {
    font-size: 0; /* disable white space between inline block element */
    background: url(img/mapb.jpg) no-repeat center;
    background-size: cover;
    display: block;
    width: 1024px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 100px;
}

.board > div {
    height: calc(var(--hh));
    width: calc(var(--hw));
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    font-size:10pt;
    text-align: center;
    align-items: center;
    foreground-color: #000000;
    clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    position: absolute;
/*    background-color: rgba(255, 22, 255, 0.2); */
}


.board > div > div > div.playable {
    content: url(img/highlight.png);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.board > div.selected {
    background-color: rgba(22, 255, 22, 0.1);
}

.board .city_msp,
.board .city_m,
.board .city_back,
.board .city_p,
.board .city_s,
.board .city_mp,
.board .city_ms,
.board .city_sp,
.board .field_5,
.board .field_6,
.board .field_7,
.board .field_X,
.board .ziggurat
{
    height: var(--hh);
    width: var(--hw);
    background-size: 100% 1400%;
}

.city_back  {
    background: url(img/cities.png) 0% 0%;
}
.city_m    {
    background: url(img/cities.png) 0% -100%;
}
.city_p    {
    background: url(img/cities.png) 0% -300%;
}
.city_s    {
    background: url(img/cities.png) 0% -200%;
}
.city_mp   {
    background: url(img/cities.png) 0% -500%;
}
.city_ms   {
    background: url(img/cities.png) 0% -400%;
}
.city_sp   {
    background: url(img/cities.png) 0% -600%;
}
.city_msp {
    background: url(img/cities.png) 0% -700%;
}
.city_blank {
    background: url(img/cities.png) 0% -800%;
}
.field_5     {
    background: url(img/cities.png) 0% -900%;
}
.field_6     {
    background: url(img/cities.png) 0% -1000%;
}
.field_7     {
    background: url(img/cities.png) 0% -1100%;
}
.field_X     {
    background: url(img/cities.png) 0% -1200%;
}
.ziggurat   {
    background: url(img/cities.png) 0% -1300%;
}

.board  .farmer_1,
.board  .merchant_1,
.board  .servant_1,
.board  .priest_1,
.board  .hidden_1,
.board  .farmer_2,
.board  .merchant_2,
.board  .servant_2,
.board  .priest_2,
.board  .hidden_2,
.board  .farmer_3,
.board  .merchant_3,
.board  .servant_3,
.board  .priest_3,
.board  .hidden_3,
.board  .farmer_4,
.board  .merchant_4,
.board  .servant_4,
.board  .priest_4,
.board  .hidden_4
{
    width: calc(var(--hh) - 4px);
    height: calc(var(--hh) - 4px);
    margin-top: 3px;
    margin-left: 7px;
    background-image: url(img/pieces.png);
    background-size: 400% 500%;
}

.hidden_1, .empty_1 {
    background-position: 0% 0;
}
.hidden_2, .empty_2    {
    background-position: 100% 0;
}
.hidden_3, .empty_3    {
    background-position: 200% 0;
}
.hidden_4, .empty_4    {
    background-position: 300% 0;
}
.farmer_1    {
    background-position: 0% -100%;
}
.farmer_2   {
    background-position: 100% -100%;
}
.farmer_3 {
    background-position: 200% -100%;
}
.farmer_4 {
    background-position: 300% -100%;
}
.merchant_1 {
    background-position: 0% -200%;
}
.merchant_2 {
    background-position: 100% -200%;
}
.merchant_3 {
    background-position: 200% -200%;
}
.merchant_4 {
    background-position: 300% -200%;
}
.servant_1  {
    background-position: 0% -300%;
}
.servant_2  {
    background-position: 100% -300%;
}
.servant_3  {
    background-position: 200% -300%;
}
.servant_4  {
    background-position: 300% -300%;
}
.priest_1   {
    background-position: 0% -400%;
}
.priest_2   {
    background-position: 100% -400%;
}
.priest_3   {
    background-position: 200% -400%;
}
.priest_4  {
    background-position: 300% -400%;
}


/*
 Styles for the hand and "rack".
*/

.hand {
    display: inline-block;
    width: auto;
    margin: 5px;
    background-color: transparent;
    text-align: center;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: inset;
    padding: 4px;
}

#hand > div {
    display: inline-block;
    width: 57px;
    height: 57px;
    background-size: 400% 500%;
    border-radius: 100%;
    border-style: solid;

    margin: 5px;
    /* shared with .piece */
    background-image: url(img/pieces.png);
    border-width: 0px;
}

#hand > div.empty_1,
#hand > div.empty_2,
#hand > div.empty_3,
#hand > div.empty_4
{
    margin: 0px;
    background-image: unset;
    border-width: 5px;
    border-style: dotted;
    border-color: #FF888A;

    /* these two */
    background-color: white;
    opacity: 0.5;
    /* or just: */
    /* background-color: transparent; */
}

#hand > div.unavailable {
    background-image: unset;
    background-color: white;
    opacity: 0.5;
}

#hand > div.selected {
    margin: 0px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
/*    opacity: 0.8; */
}

.possibleMove {
    background-color: white;
    opacity: 0.2;
    cursor: pointer;
}

#available_ziggurats {
    display: flex;
    justify-content: center;
    width: 1024px;
}

#available_ziggurats > div {
    display: inline-block;
    border-radius: 10px;
    height: 135px;
    width: 90px;
    margin: 10px;
    background-size: 1000% 100%;
    background-image: url(img/ziggurats.png);
}

#available_ziggurats > div:not([class]),
#available_ziggurats > div[class=''] {
    background-position: -900% 0%;
    border-style: dotted;
}

div.zc_10pts {
    background-position: 0% 0%;
}
div.zc_xturn {
    background-position: -100% 0%;
}
div.zc_hand7 {
    background-position: -200% 0%;
}
div.zc_3nobles {
    background-position: -300% 0%;
}
div.zc_3farmers {
    background-position: -400% 0%;
}
div.zc_fields {
    background-position: -500% 0%;
}
div.zc_citypts {
    background-position: -600% 0%;
}
div.zc_land {
    background-position: -700% 0%;
}
div.zc_river {
    background-position: -800% 0%;
}

/*
 * Player boards
 */

div.b_handpoolcity {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

div.b_handpoolcity > div {
    display: inline-block;
    flex: 1;
}

div.b_handpoolcity .b_counter {
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 1.2em;
    padding-left: 5px;
/*    height: 2.1em; */
}

div.b_handpoolcity .b_citycount_label {
    display: inline-block;
    height: 2.1em;
    width: 2.4em;
    background: url(img/cities.png) 0% -800%;
    background-color: transparent;
    background-size: 100% 1400%;
}

div.b_handpoolcity .b_hand_label {
    display: inline-block;
    height: 2.1em;
    width: 2.1em;
    background: url(img/pieces.png); /*  0% -800%; */
    background-color: transparent;
    background-size: 400% 500%;
}

div.b_handpoolcity .b_pool_label {
    display: inline-block;
    margin-right: -2.0em;
    height: 2.1em;
    width: 2.1em;
    background: url(img/pieces.png); /*  0% -800%; */
    background-color: transparent;
    background-size: 400% 500%;
}

div.b_handpoolcity > .b_pool > .b_counter {
    margin-left: 1.7em;
}

div.b_ziggurats span.b_ziggurat_label {
    display: inline-block;
    height: 2.1em;
    width: 2.1em;
    background: url(img/cities.png) 0% -1300%;
    background-color: transparent;
    background-size: 100% 1400%;
}

div.b_ziggurats > div {
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
    height: 2.4em;
    width: 1.6em;
    background-size: 1000% 100%;
    background-image: url(img/ziggurats.png);
}


/*
 * image action buttons
 */

a.action-button:has(> div.ziggurat) {
    padding: 0;
    border-style: none;
}

a.action-button > div.ziggurat {
    border-radius: 5px;
    border: 0;
    border-style: none;
    height: 6em;
    width: 4em;
    background-size: 1000% 100%;
    background-image: url(img/ziggurats.png);
}

/*
 * rendering log messages
 *   particularly images for pieces
 */

.log-element.merchant_1,
.log-element.priest_1,
.log-element.farmer_1,
.log-element.servant_1,
.log-element.merchant_2,
.log-element.priest_2,
.log-element.farmer_2,
.log-element.servant_2,
.log-element.merchant_3,
.log-element.priest_3,
.log-element.farmer_3,
.log-element.servant_3,
.log-element.merchant_4,
.log-element.priest_4,
.log-element.farmer_4,
.log-element.servant_4
{
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 2.1em;
    width: 2.1em;
    background-size: 100% 1400%;
    background-image: url(img/pieces.png);
    background-size: 400% 500%;
}

.log-element.city_msp,
.log-element.city_m,
.log-element.city_back,
.log-element.city_p,
.log-element.city_s,
.log-element.city_mp,
.log-element.city_ms,
.log-element.city_sp,
.log-element.field_5,
.log-element.field_6,
.log-element.field_7,
.log-element.field_X,
.log-element.ziggurat
{
    height: 2.1em;
    width: 2.4em;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-size: 100% 1400%;
    background-image: url(img/cities.png);
}
