/* from https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ */

.main {
    --hw: 70px;
    --cfh: calc(var(--hh) - 0px);
    --hh: 61px;
    --w2: calc(var(--hh) - 4px);
}

.container {
    font-size: 0; /* disable white space between inline block element */
    background: url(images/mapb.jpg) no-repeat center;
    background-size: cover;
    display: block;
    width: 1024px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 100px;
}

.container > div {
    height: calc(var(--hh));
    width: calc(var(--hw));
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    font-size:10pt;
    text-align: center;
    align-items: center;
    foreground-color: #000000;
    clip-path: polygon(0 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    position: absolute;
/*    background-color: rgba(255, 22, 255, 0.2); */
}


.container > div.selected {
    background-color: rgba(22, 255, 22, 0.1);
}


img.zig {
    content: url(images/zigurat.png);
    width: 100%;
    display: block;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.container > div > div {
    /* use hh for width since smaller and want it to be square */
    width: calc(var(--hh) - 4px);
    height: calc(var(--hh) - 4px);
    margin-top: 3px;
    margin-left: 6px;
/*    margin-right: auto; */
}

.container > div > img {
/*    background-color: #ff8888; */
    object-fit: cover;
    height: var(--hh);
    width: var(--hw);
    display: block; 
    margin: 0;
    padding-top: 1px;
    padding-left: 0px;
    border: 0;
    border-style: none;
    background-size: cover;
}

.city_msp  { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-0*var(--cfh)); }
.city_m    { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-1*var(--cfh)); }
.city_back { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-2*var(--cfh)); }
.city_p    { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-3*var(--cfh)); }
.city_s    { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-4*var(--cfh)); }
.city_mp   { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-5*var(--cfh)); }
.city_ms   { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-6*var(--cfh)); }
.city_sp   { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-7*var(--cfh)); }
.farm_5     { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-8*var(--cfh)); }
.farm_6     { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-9*var(--cfh)); }
.farm_7     { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-10*var(--cfh)); }
.farm_X     { content: url('images/cityfarms-sprites.png'); object-position: 0px calc(-11*var(--cfh)); }


/* 100% is for wood-toned. */
.blank    {
    background: url(images/pieces.png) 100% 0;
    background-size: 400% 500%;

}
.farmer   {
    background: url(images/pieces.png) 100% -100%;
    background-size: 400% 500%;
}
.servant  {
    background: url(images/pieces.png) 100% -200%;
    background-size: 400% 500%;
}
.merchant {
    background: url(images/pieces.png) 100% -300%;
    background-size: 400% 500%;
}
.priest   {
    background: url(images/pieces.png) 100% -400%;
    background-size: 400% 500%;
}


/*
 Styles for the hand and "rack".
*/

.hand {
    display: inline-block;
    width: auto;
    margin: 5px;
    background-color: transparent;
    text-align: center;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: inset;
    padding: 4px;
}

.hand > div {
    clip-path: circle();
    display: inline-block;
    padding: 3px;
    margin-top: 4px;
    margin-left: 8px;
}

.hand > div > div {
    width: 57px;
    height: 57px;
}

.handlabel {
    display: inline;
    vertical-align: center;
    font-size: 20pt;
}

.possibleMove {
    background-color: white;
    opacity: 0.2; 
    cursor: pointer;  
}

.unplayable {
    background-color: white;
    opacity: 0.3;
}

.selected {
    background-color: black;
    opacity: 0.8;
}
